* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

:root {
  --white-color: #fff;
  --trasn: all 0.5s;
}

body {
  position: relative;
}

.background {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  padding: 1.5rem 3rem;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.navbar h1 {
  background: linear-gradient(to right, orangered, white);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 0.3px white;
  color: transparent;
  background-repeat: no-repeat;
  background-position: 60vw;
  font-size: 3rem;
  flex: 1;
  text-align: center;
  -webkit-animation: bgcolor 5s infinite ease-out;
  animation: bgcolor 5s infinite ease-out;
}
@-webkit-keyframes bgcolor {
  100% {
    background-position: 30vw;
  }
}
@keyframes bgcolor {
  100% {
    background-position: 30vw;
  }
}
.navbar i {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  transition: var(--trasn);
  justify-self: center;
  align-self: center;
  color: white;
}
.navbar i:hover {
  color: orangered;
}
.navbar .cart-items {
  position: absolute;
  color: orangered;
  font-weight: bold;
  top: -14px;
  right: -12px;
  font-size: 1rem;
  background-color: white;
  border-radius: 50%;
  padding: 1px 4px;
}

.products-container {
  padding: 10rem 3rem 3rem;
  display: grid;
  gap: 3rem;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
}
.products-container .product {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 6px 0;
  border-radius: 4px;
  overflow: hidden;
  font-weight: 700;
  padding: 1rem;
  position: relative;
  text-align: center;
}
.products-container .product .img-container {
  width: 100%;
  height: 200px;
}
.products-container .product .img-container img {
  border-radius: 4px;
  transition: var(--trasn);
  width: 100%;
  height: 100%;
  max-width: 280px;
}
.products-container .product .bag-btn {
  cursor: pointer;
  transition: var(--trasn) ease-in;
  position: absolute;
  top: 60%;
  padding: 0.5rem;
  background-color: orangered;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  right: -140px;
  opacity: 0;
}
.products-container .product .bag-btn:hover i {
  color: white;
}
.products-container .product h3 {
  padding: 0.5rem;
  color: whitesmoke;
}
.products-container .product .price {
  color: orangered;
}
.products-container .product:hover .bag-btn {
  right: 20px;
  opacity: 1;
}
.products-container .product:hover img {
  filter: blur(1.5px);
  transform: scale(1.02);
}

.cart-overlay {
  display: none;
  box-shadow: 0 0 20px 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  text-align: center;
  width: 500px;
  transition: all 1s;
  background-color: grey;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.cart-overlay * {
  -webkit-animation: cart-in 1.6s;
  animation: cart-in 1.6s;
}

.cart-overlay .cart-header {
  display: flex;
  padding: 2rem 1rem;
}
.cart-overlay .cart-header h2 {
  margin-left: 60px;
}
.cart-overlay .cart-header span {
  cursor: pointer;
}
.cart-overlay .cart-header span i {
  font-size: 1.5rem;
}
.cart-overlay .cart-header span i:hover {
  color: orangered;
}
.cart-overlay .cart-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}
.cart-overlay .cart-content .cart-item {
  display: flex;
  align-items: center;
  line-height: 1.2rem;
}
.cart-overlay .cart-content .cart-item img {
  width: 70px;
}
.cart-overlay .cart-content .cart-item .about-item-cart {
  flex: 1;
  text-align: left;
  padding-left: 1rem;
}
.cart-overlay .cart-content .cart-item .about-item-cart .remove-item {
  font-weight: 600;
  transition: var(--trasn);
  color: red;
  cursor: pointer;
}
.cart-overlay .cart-content .cart-item .about-item-cart .remove-item:hover {
  color: green;
}
.cart-overlay .cart-content .cart-item .amount-control {
  justify-self: end;
}
.cart-overlay .cart-content .cart-item .amount-control i {
  color: orangered;
  cursor: pointer;
}
.cart-overlay .cart-footer {
  line-height: 4rem;
}
.cart-overlay .cart-footer .banner-btn {
  background-color: orangered;
  border-radius: 2px;
  border: none;
  padding: 1rem 3rem;
  cursor: pointer;
  letter-spacing: 0.3rem;
  font-weight: 600;
}
.cart-overlay .cart-footer .banner-btn:hover {
  background-color: transparent;
  border: 2px solid orangered;
  color: azure;
}

.cart-overlay.active {
  -webkit-animation: cart 1s;
  animation: cart 1s;
  display: block;
}

@-webkit-keyframes cart {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes cart {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
#confirm {
  cursor: pointer;
  margin-top: 1rem;
  background-color: green;
  border: none;
  border-radius: 4px;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
#confirm:hover {
  color: green;
  background-color: black;
  box-shadow: 0 0 0 4px green;
}

@media (max-width: 500px) {
  .cart-overlay {
    width: 100%;
  }
}
@media (max-width: 900px) {
  @-webkit-keyframes bgcolor {
    100% {
      background-position: 0;
    }
  }
  @keyframes bgcolor {
    100% {
      background-position: 0;
    }
  }
} /*# sourceMappingURL=style.css.map */
